<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- title -->
    <title>Title</title>
</head>

<body>

    <!-- main -->
    <main>
        <h1>Hello, i am a test page!</h1>
    </main>

    <!-- footer -->
    <footer>
        <!-- TODO - make this one pretty -->
        <hr>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="https://#">Source code</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>
        </nav>

    </footer>
</body>

</html>