{% extends "base.html" %}
{% load static %}


{% block tags %}
<!-- extra tags -->
<meta name="author" content="Touzik Gaffkovski">
<meta name="description"
    content="Personal website of Touzik Gaffkovski - the dog, the myth, the legend.">
{% endblock %}

{% block title %}
Welcome | Touzik
{% endblock %}

{% block content %}
<h1>Touzik Gaffkovski</h1>

<figure>
    <img src="{% static 'images/home/touzik2-640x480.webp' %}"
        alt="Black, wooly dog (tibetan terrier) with a white patch of hair on the chest">

    <figcaption>Russia, <time datetime="2021-03">spring 2021</time></figcaption>
</figure>

<section>
    <h2>Welcome!</h2>
    <p>My name is <strong>Touzik</strong>, and I am a dog &#x1F436;.</p>
    <p>Let&apos;s get to know each other! See the <a href="#gallery">gallery</a> for my bio
        and cute photos.</p>
</section>

<section>
    <h2>Work</h2>
    <p>Tasty snacks are not free (ridiculous, I know), so I work as a <em>Data
            Scientist</em>. Check out on-line <a href="#segmentation">object detection
            demo</a> to see what I&apos;m doing at the moment.</p>
    <p>Interested in my background? <a href="{% static 'misc/cv-touzik.pdf' %}"
            download="cv-touzik.pdf" target="_blank"> Download the CV (PDF, 40KB)</a> to see
        more.</p>
</section>

<section>
    <h2>Contact</h2>
    <p>
        <a href="{% url 'contact' %}">Contact me</a> if you want to woof at the postman together
        &#x1F60A;
    </p>
</section>

<section>
    <h2>About this website</h2>
    <p>Confused? Read on <a href="#about">what this website is about</a>.</p>
</section>
{% endblock %}