{% extends "base.html" %}

{% block title %}
Privacy policy | Touzik
{% endblock %}

{% block content %}

<h1>Privacy Policy</h1>

<p>This Privacy Policy document contains types of information that is collected and
    recorded by chicken.pythonanywhere.com and how i use it.</p>

<p>If you have additional questions or require more information about the Privacy Policy,
    do not hesitate to <a href="{% url 'contact' %}">contact me</a>.</p>

<p>This Privacy Policy applies only to online activities and is valid for visitors of
    the website with regards to the information shared and/or collected on
    chicken.pythonanywhere.com. This policy is not applicable to any information collected
    offline or via channels other than this website. The Privacy Policy was created with
    the help of the
    <a href="https://www.privacypolicyonline.com/privacy-policy-generator/" target="_blank">
        Online Generator of Privacy Policy</a>.
</p>


<h2>Consent</h2>

<p>By using this website, you hereby consent to the Privacy Policy and agree to its terms.
</p>


<h2>Log Files</h2>

<p>chicken.pythonanywhere.com follows a standard procedure of using log files. These files
    log visitors when they visit websites. All hosting companies do this and a part of
    hosting services' analytics.</p>

<p>The information collected by log files include <em>internet
        protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time
        stamp, referring/exit pages, and possibly the number of clicks</em>. These are not linked
    to any information that is personally identifiable.</p>

<p>The purpose of the information is
    for analyzing trends, administering the site, tracking users' movement on the website,
    and gathering demographic information.</p>


<h2>Cookies and Web Beacons</h2>

<p>chicken.pythonanywhere.com uses <strong>cookies</strong>. These cookies could be used,
    among other things, to store information including visitors' preferences, session
    information and the pages on the website that the visitor accessed or visited.</p>

<p>You can choose to disable cookies through your individual browser options. To know more
    detailed
    information about cookie management with your web browser, consult that browsers'
    website.</p>

<p>For more information on cookies, please read the
    <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">HTTP Cookie</a>
    article on Wikipedia and
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies" target="_blank">
        Using HTTP cookies</a>
    article on MDN.
</p>


<h2>Information i collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are
    asked to provide it, will be made clear to you at the point i ask you to provide your
    personal information.</p>

<ul>
    <li>When you submit a form, i would ask for your contact information, including items
        such as <strong>email address</strong> in order to reply.
    </li>
</ul>


<h2>How i use your information</h2>

<p>I use the collected information for the following:</p>

<ul>
    <li>Provide, operate, and maintain the website.</li>
    <li>Reply to your form posts using provided contact details (email).</li>
</ul>


<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, all visitors have the right to:</p>
<ul>
    <li>Request that a business that collects a consumer's personal data <em>disclose</em>
        the categories
        and specific pieces of personal data that a business has collected about consumers.
    </li>
    <li>Request that a business <em>delete</em> any personal data about the consumer that a
        business has
        collected.</li>
    <li>Request that a business that sells a consumer's personal data, <em>not sell</em> the
        consumer's
        personal data.</li>
</ul>
<p>If you make a request, i have one month to respond to you. If you would like to exercise
    any
    of these rights, please <a href="{% url 'contact' %}">contact me</a>.</p>


<h2>GDPR Data Protection Rights</h2>

<p>Every user is entitled to the following:</p>
<ul>
    <li>The right to <em>access</em> – You have the right to request copies of your personal
        data.</li>
    <li>The right to <em>rectification</em> – You have the right to request that i correct
        any
        information you believe is inaccurate. You also have the right to request that i
        complete the information you believe is incomplete.</li>
    <li>The right to <em>erasure</em>– You have the right to request that i erase your
        personal data,
        under certain conditions.</li>
    <li>The right to <em>restrict processing</em> – You have the right to request that i
        restrict the
        processing of your personal data, under certain conditions.</li>
    <li>The right to <em>object to processing</em> – You have the right to object to our
        processing of
        your personal data, under certain conditions.</li>
    <li>The right to <em>data portability</em> – You have the right to request that i
        transfer the
        data that i have collected to another organization, or directly to you, under
        certain conditions.</li>
</ul>

<p>If you make a request, i have one month to respond to you. If you would like to exercise
    any of these
    rights, please <a href="{% url 'contact' %}">contact me</a>.</p>


<h2>Children's Information</h2>

<p>chicken.pythonanywhere.com does not knowingly collect any Personal Identifiable
    Information
    from children under the age of 13. If you think that your child provided this kind of
    information on the website, <a href="{% url 'contact' %}">contact me</a> immediately in order
    to remove it from the records.</p>
{% endblock %}